<div class="login-page-container">
    <div class="login-page-left">
      <div class="project-logo">
          <img src="./assets/images/logo-c.png" />
      </div>
    </div>
    <div class="login-page-right">
      
        <form  class="form" [formGroup]="form" (ngSubmit)="doReset()">     
          
        <div class="form-group-sec">
          <div class="form-title">
              Reset Password
          </div>
          <input type="password" placeholder="Password" formControlName="password">
          <span class="error" *ngIf="err.password">{{err.password}}</span>
          <input type="password" placeholder="Confirmation Password" formControlName="password_confirmation">
          <span class="error" *ngIf="err.password_confirmation">{{err.password_confirmation}}</span>

          <button type="submit">Submit</button>
  
          <div class="signup-btn">
            Already have an account? <a routerLink="/register" > Sign Up </a>
          </div>
        </div>
      </form>
    </div>
  </div>
  